# Local
.vscode/
data/
docs/api/
env/

# Take from https://github.com/github/gitignore/blob/master/Python.gitignore
# Expand as needed

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
pip-wheel-metadata/
*.egg-info/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
