# Local
data/
docs/api/
env/
interpreter/

# Select from https://github.com/github/gitignore/blob/master/Python.gitignore
# Expand as needed

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/

# Unit test / coverage reports
.tox/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
